/*allgemein*/
body{
background-image:url('/style/lze/back.png');
background-position:top;
background-repeat:repeat-x;
background-color:#d4d0c8;
font-family:verdana,sans-serif;
color:black;
text-align:left;
vertical-align:top;
font-size:20px;
}
a{
cursor:pointer;
color:black;
}
a:hover{
cursor:pointer;
color:red;
}
a.link{
cursor:pointer;
color:black;
}
a.link:visited{
cursor:pointer;
color:#151b30;
}
a.link:hover{
cursor:pointer;
color:red;
}
a.menuLink{
color:black;
font-size:18px;
vertical-align:middle;
}
a.menuLink:hover{
color:red;
font-size:18px;
vertical-align:middle;
}
a.menuLink2{
color:red;
font-size:22px;
vertical-align:middle;
}
a.menuLink3{
color:black;
font-size:22px;
vertical-align:middle;
}
a.linkpressed{
 color:#5299E6;
background-position:0%;
font-size:18px;
}
table.body{
 width:100%;
}
table.blog{
background-color:#eeeeee;
color:#000000;
}
td.leftSidebar{
padding-top:5px;
/* width:200px; */
}
td.rightSidebar{
padding-top:5px;
/* width:200px; */
}
/* margin */
td.content{
width:100%;
padding-left:0px;
padding-right:0px;
}
td.tabwidgetBody{
background-color:#888786;
padding-top:0px;
padding-left:10px;
padding-right:10px;
}
td.sidebar{
padding-right:0px;
}
td.leftSidebar{
padding-top:10px;
padding-left:5px;
padding-right:5px;
padding-bottom:10px
}
td.rightSidebar{
padding-top:8px;
padding-left:10px;
padding-right:10px;
}
table.contentLayout{
padding-top:10px;
padding-left:5px;
padding-right:0px;
}
table.contentHeader{
padding-top:2px;
padding-left:5px;
padding-right:5px;
}
table.reg{
width:250px;
}
input{
border:1px solid black;
color:black;
background-color:#8f8e8e;
font-family:verdana,sans-serif;
vertical-align:top;
}
select{
vertical-align:top;
border:1px solid black;
color:black;
background-color:#8f8e8e;
font-family:verdana,sans-serif;
}
textarea.sqlEdit{
vertical-align:top;
border:1px solid black;
color:black;
background-image:url('/style/lze/window/background50.png');
}
textarea{
font-size:18px;
border:1px solid black;
color:black;
background-color:#8f8e8e;
}
.markBox{
border:1px solid black;
width:22px;
height:22px;
background-color:#8f8e8e;
}
.markBoxButton{
border:1px solid black;
width:16px;
height:16px;
background-color:#8f8e8e;
}
.radioButton{
width:22px;
height:22px;
background-color:#8f8e8e;
}
/*<<allgemein*/
/* datenbank headline */
td.caption{
color:black;
background-color:white;
text-align:center;
}
td.ImpLink{
padding-left:24px;
height:24px;
background-position:top;
background-image:url('/style/lze/menu/under.png');
}
td.ImpTop{
padding-left:24px;
height:24px;
background-position:top;
background-image:url('/style/lze/menu/over.png');
}
.sqlBox{width:80%;overflow:auto;}
.BaseN{color:#007f00}
.BString{color:#c9a7ff}
.Char{color:#ff00ff}
.Comment{color:#7f7f7f}
.DataType{color:#0000ff}
.DecVal{color:#00007f}
.Error{color:#ff0000}
.Float{color:#00007f}
.Function{color:#007f00}
.IString{color:#ff0000}
.Keyword{color:#0000ff}
.Normal{color:#000}
.Operator{color:#ffa500}
.Others{color:#b03060}
.RegionMarker{color:#96b9ff}
.Reserved{color:#9b30ff}
.String{color:#ff0000}
.Variable{color:#0000ff}
.Warning{color:#0000ff}
a.currentLink{
height:22px;
font-size:18px;
cursor:pointer;
color:red;
}
a.dropdown{
font-size:22px;
cursor:pointer;
background-color:#eee;
}
a.menupoint{
color:#000;
font-size:22px;
cursor:pointer;
}
a.menupoint:hover{
color:#f00;
font-size:22px;
cursor:pointer;
}
a.dropdown:hover{
color:#000;
font-size:22px;
cursor:pointer;
}
a.pressed{
cursor:pointer;
font-size:22px;
color:#000;
background-color:#eee;
}
table.menupopup{
color:#000;
border-style:solid;
border-width:1px;
border-left:1px;
border-bottom:0px;
border-top:1px;
border-right:1px;
font-size:22px;
background-image:url('/style/lze/window/background50.png');
background-position:0px 0px;
}
tr.overDb{
color:black;
background-color:#d4d0c8;
}
tr.trOver{
color:black;
background-color:#d4d0c8;
}
tr.caption{
color:black;
background-color:white;
text-align:center;
}
tr.caption{
color:black;
background-color:white;
text-align:center;
}
td.tabwidgetBody{
padding-left:2px;
padding-right:2px;
}
table.contentLayout{
padding-left:5px;
padding-right:5px;
}
table.contentHeader{
padding-left:5px;
padding-right:5px;
}