RewriteEngine on
Options FollowSymLinks
RewriteRule ^$ /cgi-bin/lze.pl
RewriteRule index.html /cgi-bin/lze.pl
RewriteRule hilfe.html /cgi-bin/lze.pl?action=bbcodehelp
RewriteRule ^about.html(.*)?$ /cgi-bin/lze.pl?action=about?$1 [PT]
RewriteRule ^news.html(.*)?$  /cgi-bin/lze.pl?action=news?$1 [PT]
RewriteRule  (.+)/(.+)/news.html(.+)? /cgi-bin/lze.pl?action=news&von=$1&bis=$2$3 [PT]
RewriteRule ^showMessage(.+)\.html$ /cgi-bin/lze.pl?action=showThread&reply=$1 [PT]
RewriteRule  ^news(\d+)\.html$ /cgi-bin/lze.pl?action=showThread&reply=$1 [PT]
RewriteRule  edit([^-]+)-(.+)\.html$ /cgi-bin/lze.pl?action=edit&edit=$2&thread=$1 [PT]
RewriteRule  reply([^\d]+)-(.+)\.html$ /cgi-bin/lze.pl?action=reply&reply=$2&thread=$1 [PT]
RewriteRule ^makeNews.html /cgi-bin/lze.pl?action=makenews
RewriteRule ^addnews.html /cgi-bin/lze.pl?action=addnews
RewriteRule  (.+)/(.+)/news.html(.+)? /cgi-bin/lze.pl?action=news&von=$1&bis=$2$3 [PT]
RewriteRule  (.+)/(.+)/showthread(\d+)\.html? /cgi-bin/lze.pl?action=showthread&von=$1&bis=$2&reply=$3 [PT]
RewriteRule ^edit.html(.+) /cgi-bin/lze.pl?action=edit$1
RewriteRule ^delete.html(.+) /cgi-bin/lze.pl?action=delete$1
RewriteRule  (.+)/(.+)/fulltext\.html(.+) /cgi-bin/lze.pl?action=fulltext&von=$1&bis=$2$3 [PT]
RewriteRule  (.+)/(.+)/showEntry\.html(.+) /cgi-bin/lze.pl?action=showEntry&von=$1&bis=$2$3 [PT]
RewriteRule ^reallydelete.html(.+) /cgi-bin/lze.pl?action=reallydelete$1
RewriteRule ^neues.html$ /cgi-bin/lze.pl?action=news
RewriteRule ^viewrss.html$  /cgi-bin/lze.pl?action=viewrss
RewriteRule ^showrss(.*)\.html$ /cgi-bin/lze.pl?action=viewrss&url=$1 [PT]
RewriteRule ^impressum.html$ /cgi-bin/lze.pl?action=impressum
RewriteRule ^links.html /cgi-bin/lze.pl?action=links
RewriteRule ^login.html /cgi-bin/lze.pl?action=login
RewriteRule ^logout.html /cgi-bin/lze.pl?action=logout
RewriteRule ^showlogin.html /cgi-bin/lze.pl?action=showlogin
RewriteRule  profile.html /cgi-bin/lze.pl?action=profile
RewriteRule  changepro.html /cgi-bin/lze.pl?action=changepro
RewriteRule ^search.html /cgi-bin/lze.pl?action=search
RewriteRule ^reg.html    /cgi-bin/lze.pl?action=reg
RewriteRule ^news.rss$   /cgi-bin/lze.pl?action=rss
RewriteRule ^admin.html /cgi-bin/lze.pl?action=admin
RewriteRule settings.html  /cgi-bin/lze.pl?action=settings
RewriteRule env.html  /cgi-bin/lze.pl?action=env
RewriteRule errorlog.html  /cgi-bin/lze.pl?action=errorlog
RewriteRule uploadLinks.html  /cgi-bin/lze.pl?action=uploadLinks
RewriteRule ^(.+)editTreeview\.html /cgi-bin/lze.pl?action=editTreeview&dump=$1 [PT]
RewriteRule translate/(.+).html$ /cgi-bin/translate.pl?q=$1 [PT]
RewriteRule  (.+)/(.+)/gbook.html(.+)? /cgi-bin/lze.pl?action=gbook&von=$1&bis=$2$3 [PT]
RewriteRule  (.+)/(.+)/showthread.html(.+)? /cgi-bin/lze.pl?action=showthread&von=$1&bis=$2$3 [PT]
RewriteRule ^([^/]*)\.html(.*)? /cgi-bin/lze.pl?action=$1&$2 [PT]